{% extends 'blog/home.html' %}
{% load staticfiles %}

{%  block content  %}

<!--This is the START of the content-->
<div id="content">
  <div class="spacer"></div>
  <div class="team-text">
    <h2>This is a bit about me...</h2>
	<div class="star-divider"></div>
    <h5>You can check me out via my social links!</h5>
  </div>
  <div class="spacer"></div>
  <div class="about">
    <h5>I make some sweet designs.</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel
      Dapibus id, mattis vel, nisi. Sed pretium, ligula sollici tudin ot justo. Suspendisse potenti.Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor liber
      sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.Sed egestas, ante et vulputate volutpat</p>
	  <div class="spacer"></div>
    <h5>And I offer design packages for you!</h5>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel
      Dapibus id, mattis vel, nisi. Sed pretium, ligula sollici tudin ot justo. Suspendisse potenti.Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
	  <a class="single_image" href="{% static 'images/about/large/pricing-table.jpg' %}"><img src="{% static 'images/about/large/pricing-table.jpg' %}" width="720" height="500" alt="pricing" /></a>
  </div>
  <div class="spacer"></div>
</div>
<!--END of content-->
<p class="slide"><a href="#" class="btn-slide"></a></p>
<div id="slide-panel">
	<!--This is the START of the follow section-->
	<div id="follow">
		<h3>Get Notified About My Newest Freebies & Upcoming Themes!</h3>
		<h5>
			<p>I do make some awesome freebies for you to use... All of them are FREE and pixel perfect!</p>
			<p>Thanks for showing me the support by subscribing, and I'll try not to disappoint you...</p>
		</h5>
		<img class="star-divider" src="{% static 'images/subscribe_divider.png' %}" /> <a href="http://www.twitter.com/92_five">
		<div id="follow-twitter"><img src="{% static 'images/tweet_top.png' %}" />
			<h4>Follow me on twitter</h4>
		</div>
		</a><a href="http://eepurl.com/dqtGj">
		<div id="follow-mail"><img src="{% static 'images/mail_top.png' %}" />
			<h4>Subscribe to my newsletter</h4>
		</div>
		</a>
		<h1>Thanks for that!</h1>
	</div>
	<!--END of follow section-->
</div>
{% endblock %}
