{% extends 'blog/home.html' %}
{% load staticfiles %}

{% block content %}
<!--This is the START of the content-->
<div id="content">
  <!--This is the START of the portfolio section-->
  <div class="spacer"></div>
  <div id="filter"></div>
  <img class="star-divider" src="{% static 'images/subscribe_divider2.png' %}" />
  <div id="container">
    <ul id="stage">
      <li data-tags="Print Design"><a href="{% url 'project_sample' %}"><img src="{% static 'images/portfolio/thumbs/image(1).jpg' %}" alt="Illustration" /></a>
        <h6>Helvetica</h6>
        <p>Kinda sweet huh?<a class="readmore" href="{% url 'project_sample' %}">view →</a></p>
      </li>
      <li data-tags="Logo Design,Print Design"><a href="{% url 'project_sample' %}"><img src="{% static 'images/portfolio/thumbs/image(2).jpg' %}" alt="Illustration" /></a>
        <h6>Typography</h6>
        <p>Lorem ipsum here.<a class="readmore" href="{% url 'project_sample' %}">view →</a></p>
      </li>
      <li data-tags="Web Design,Logo Design"><a href="{% url 'project_sample' %}"><img src="{% static 'images/portfolio/thumbs/image(3).jpg' %}" alt="Illustration" /></a>
        <h6>Ideas</h6>
        <p>A light bulb!<a class="readmore" href="{% url 'project_sample' %}">view →</a></p>
      </li>
      <li data-tags="Web Design,Print Design"><a href="{% url 'project_sample' %}"><img src="{% static 'images/portfolio/thumbs/image(4).jpg' %}" alt="Illustration" /></a>
        <h6>Rockable press</h6>
        <p>Best books around.<a class="readmore" href="{% url 'project_sample' %}">view →</a></p>
      </li>
      <li data-tags="Logo Design"><a href="{% url 'project_sample' %}"><img src="{% static 'images/portfolio/thumbs/image(5).jpg' %}" alt="Illustration" /></a>
        <h6>Moo Cards</h6>
        <p>Gotta lovem'.<a class="readmore" href="{% url 'project_sample' %}">view →</a></p>
      </li>
      <li data-tags="Web Design,Logo Design,Print Design"><a href="{% url 'project_sample' %}"><img src="{% static 'images/portfolio/thumbs/image(6).jpg' %}" alt="Illustration" /></a>
        <h6>Moo Minicards</h6>
        <p>So small and cool.<a class="readmore" href="{% url 'project_sample' %}">view →</a> '</p>
      </li>
      <li data-tags="Logo Design,Print Design"><a href="{% url 'project_sample' %}"><img src="{% static 'images/portfolio/thumbs/image(7).jpg' %}" alt="Illustration" /></a>
        <h6>Moo Printing</h6>
        <p>Is inside.<a class="readmore" href="{% url 'project_sample' %}">view →</a></p>
      </li>
      <li data-tags="Web Design"><a href="{% url 'project_sample' %}"><img src="{% static 'images/portfolio/thumbs/image(8).jpg' %}" alt="Illustration" /></a>
        <h6>Just say it!</h6>
        <p>Printed.<a class="readmore" href="{% url 'project_sample' %}">view →</a></p>
      </li>
    </ul>
  </div>
  <!--END of portfolio section-->
</div>
<!--END of content-->
<p class="slide"><a href="#" class="btn-slide"></a></p>
<div id="slide-panel">
	<!--This is the START of the follow section-->
	<div id="follow">
		<h3>Get Notified About My Newest Freebies & Upcoming Themes!</h3>
		<h5>
			<p>I do make some awesome freebies for you to use... All of them are FREE and pixel perfect!</p>
			<p>Thanks for showing me the support by subscribing, and I'll try not to disappoint you...</p>
		</h5>
		<img class="star-divider" src="images/subscribe_divider.png" /> <a href="http://www.twitter.com/92_five">
		<div id="follow-twitter"><img src="{% static 'images/tweet_top.png' %}" />
			<h4>Follow me on twitter</h4>
		</div>
		</a><a href="http://eepurl.com/dqtGj">
		<div id="follow-mail"><img src="{% static 'images/mail_top.png' %}" />
			<h4>Subscribe to my newsletter</h4>
		</div>
		</a>
		<h1>Thanks for that!</h1>
	</div>
	<!--END of follow section-->
</div>

{% endblock %}
